<div class="c-nav-bar">

	<div class="c-nav-bar-header">
		<span class="c-nav-bar-title">{{navCtrl.title}}</span>

		<div class="c-nav-bar-buttons">
			<button type="button" ng-click="navCtrl.buttonAction('previous')"
			        ng-show="navCtrl.showPrevButton">Previous
			</button>

			<button type="button" ng-click="navCtrl.buttonAction('next')"
			        ng-show="navCtrl.showNextButton">Next
			</button>

			<button type="button" ng-click="navCtrl.buttonAction('save')"
			        ng-show="navCtrl.showSaveButton">Save
			</button>
		</div>
	</div>
</div>

<div class="c-nav-content" ng-transclude></div>


